@using Microsoft.Extensions.Options
@using JustProxies.Proxy.Core
@using JustProxies.Proxy.Core.Options
@using JustProxies.Proxy.Setup.Core
@inherits LayoutComponentBase
@inject IHttpProxyServer HttpProxyServer;
@inject IHttpProxyTool HttpProxyTool;
@inject IOptions<HttpProxyServerOptions> WebProxyServerOptions;

<div class="bb-page">

    <Sidebar @ref="_sidebar"
             IconName="IconName.Ethernet"
             Title=" Just Proxies "
             DataProvider="SidebarDataProvider"/>

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <Toasts class="p-3" Messages="_messages" Placement="ToastsPlacement.BottomRight"/>
            <Switch Label="启动代理" @bind-Value="IsEnabled"/>
        </div>

        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>

</div>

@code {
 

}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>